<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans         http://www.springframework.org/schema/beans/spring-beans.xsd">  
  <bean id="employeeAction" class="com._520it.pss.web.action.EmployeeAction" scope="prototype"> 
    <property name="employeeService" ref="employeeService"/>  
    <property name="departmentService" ref="departmentService"/>  
    <property name="roleService" ref="roleService"/> 
  </bean>  
  <bean id="departmentAction" class="com._520it.pss.web.action.DepartmentAction" scope="prototype"> 
    <property name="departmentService" ref="departmentService"/> 
  </bean>  
  <bean id="roleAction" class="com._520it.pss.web.action.RoleAction" scope="prototype"> 
    <property name="roleService" ref="roleService"/>  
    <property name="permissionService" ref="permissionService"/>  
    <property name="systemMenuService" ref="systemMenuService"/> 
  </bean>  
  <bean id="permissionAction" class="com._520it.pss.web.action.PermissionAction" scope="prototype"> 
    <property name="permissionService" ref="permissionService"/> 
  </bean>  
  <bean id="loginAction" class="com._520it.pss.web.action.LoginAction" scope="prototype"> 
    <property name="employeeService" ref="employeeService"/> 
  </bean>  
  <bean id="systemMenuAction" class="com._520it.pss.web.action.SystemMenuAction" scope="prototype"> 
    <property name="systemMenuService" ref="systemMenuService"/> 
  </bean>  
  <bean id="brandAction" class="com._520it.pss.web.action.BrandAction" scope="prototype"> 
    <property name="brandService" ref="brandService"/> 
  </bean>  
  <bean id="supplierAction" class="com._520it.pss.web.action.SupplierAction" scope="prototype"> 
    <property name="supplierService" ref="supplierService"/> 
  </bean>  
  <bean id="productAction" class="com._520it.pss.web.action.ProductAction" scope="prototype"> 
    <property name="productService" ref="productService"/>  
    <property name="brandService" ref="brandService"/> 
  </bean>  
  <bean id="orderBillAction" class="com._520it.pss.web.action.OrderBillAction" scope="prototype"> 
    <property name="orderBillService" ref="orderBillService"/>  
    <property name="supplierService" ref="supplierService"/> 
  </bean>  
  <bean id="depotAction" class="com._520it.pss.web.action.DepotAction" scope="prototype"> 
    <property name="depotService" ref="depotService"/> 
  </bean>  
  <bean id="productStockAction" class="com._520it.pss.web.action.ProductStockAction" scope="prototype"> 
    <property name="productStockService" ref="productStockService"/>  
    <property name="depotService" ref="depotService"/>  
    <property name="brandService" ref="brandService"/> 
  </bean>  
  <bean id="stockIncomeBillAction" class="com._520it.pss.web.action.StockIncomeBillAction" scope="prototype"> 
    <property name="supplierService" ref="supplierService"/>  
    <property name="depotService" ref="depotService"/>  
    <property name="stockIncomeBillService" ref="stockIncomeBillService"/> 
  </bean>  
  <bean id="clientAction" class="com._520it.pss.web.action.ClientAction" scope="prototype"> 
    <property name="clientService" ref="clientService"/> 
  </bean>  
  <bean id="stockOutcomeBillAction" class="com._520it.pss.web.action.StockOutcomeBillAction" scope="prototype"> 
    <property name="clientService" ref="clientService"/>  
    <property name="stockOutcomeBillService" ref="stockOutcomeBillService"/> 
  </bean>  
  <bean id="orderChartAction" class="com._520it.pss.web.action.OrderChartAction" scope="prototype"> 
    <property name="chartService" ref="chartService"/>  
    <property name="brandService" ref="brandService"/>  
    <property name="supplierService" ref="supplierService"/>
    <property name="saleAccountService" ref="saleAccountService"/>
    <property name="clientService" ref="clientService"/>
  </bean>  

</beans>
